body{
    font-family:'Lato', arial, sans-serif;
    color:#444
}
a{
    color:#1a1a1a;
    text-decoration:none
}
a:hover{
    text-decoration:none;
    color:#3fa07a;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out
}
a:focus{
    text-decoration:none;
    color:#3fa07a
}
.btn{
    outline:none
}
.btn .svg-inline--fa{
    color:#fff;
    margin-right:5px
}
.btn:focus{
    box-shadow:none
}
.btn:hover{
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out
}
.btn-theme{
    background:#1a1a1a;
    border:1px solid #1a1a1a;
    color:#fff
}
.btn-theme:hover{
    background:#3fa07a;
    border:1px solid #3fa07a;
    color:#fff
}
.btn-theme:active,.btn-theme:focus{
    color:#fff
}
.form-control{
    box-shadow:none
}
.form-control:focus{
    border-color:#1a1a1a;
    box-shadow:none
}
blockquote{
    font-size:14px
}
.text-highlight{
    color:#225742
}
.note{
    font-family:'Covered By Your Grace', cursive;
    font-size:22px
}
.row-end{
    margin-right:0;
    padding-right:0
}
.social-icons{
    list-style:none;
    padding:10px 0;
    margin-bottom:0
}
.social-icons li{
    float:left
}
.social-icons li.row-end{
    margin-right:0
}
.social-icons a{
    display:inline-block;
    background:#3fa07a;
    width:48px;
    height:48px;
    text-align:center;
    padding-top:7px;
    border-radius:50%;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    margin-right:8px;
    float:left;
    font-size:22px
}
.social-icons a:hover{
    background:#317b5e
}
.social-icons a .svg-inline--fa{
    color:#fff
}
.social-icons a .svg-inline--fa:before{
    font-size:26px;
    text-align:center;
    padding:0
}
input[type="text"],input[type="email"],input[type="password"],input[type="submit"],input[type="button"],textarea,select{
    -moz-appearance:none;
    appearance:none;
    -webkit-appearance:none
}
::-webkit-input-placeholder{
    color:#999;
    text-transform:uppercase
}
:-moz-placeholder{
    color:#999;
    text-transform:uppercase
}
::-moz-placeholder{
    color:#999;
    text-transform:uppercase
}
:-ms-input-placeholder{
    color:#999;
    text-transform:uppercase
}
.has-pattern{
    background-image:url("../images/patterns/pattern-1.png");
    background-repeat:repeat;
    background-position:left top
}
#back-to-top{
    z-index:10;
    background:#000;
    color:#fff;
    text-align:center;
    display:inline-block;
    width:36px;
    height:36px;
    border:none;
    border-radius:50%;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out
}
#back-to-top:hover{
    background:#47b288
}
#back-to-top svg{
    margin-top:5px
}
.header{
    background:#fff;
    z-index:999;
    box-shadow:0 0 4px rgba(0,0,0,0.4);
    min-height:67px
}
.header .container{
    position:relative
}
.header h1.logo{
    margin-top:0;
    margin-bottom:0;
    text-transform:uppercase;
    font-weight:bold;
    font-size:28px
}
.header h1.logo a{
    color:#444;
    -webkit-transition:none;
    -moz-transition:none;
    -ms-transition:none;
    -o-transition:none
}
.header h1.logo a img{
    margin-right:5px;
    height:40px
}
.header h1.logo .logo-title{
    vertical-align:middle
}
.header .navbar-toggler{
    position:absolute;
    right:0px;
    top:16px;
    background:url("../images/menu-icon.svg") no-repeat center center;
    padding:0;
    -webkit-opacity:.75;
    -moz-opacity:.75;
    opacity:.75;
    border:none
}
.header .navbar-toggler:hover{
    -webkit-opacity:1;
    -moz-opacity:1;
    opacity:1
}
.header .navbar-toggler:focus{
    outline:none;
    box-shadow:none
}
.header .navbar-nav .nav-item{
    font-weight:normal;
    text-transform:uppercase;
    margin-right:5px
}
.header .navbar-nav .nav-item a{
    color:#444;
    -webkit-transition:none;
    -moz-transition:none;
    -ms-transition:none;
    -o-transition:none;
    font-size:14px;
    padding:15px 10px
}
.header .navbar-nav .nav-item a:hover{
    color:#1a1a1a;
    background:none
}
.header .navbar-nav .nav-item a:focus{
    outline:none;
    background:none
}
.header .navbar-nav .nav-item a:active{
    outline:none;
    background:none
}
.header .navbar-nav .nav-item a.active{
    color:#1a1a1a;
    background:none
}
.header .navbar-nav .nav-item.active{
    color:#1a1a1a
}
.header .navbar-nav .nav-item.active a{
    color:#1a1a1a
}
.header .navbar-nav .nav-item.last{
    margin-right:0
}
.footer{
    background:#444;
    color:#fff;
    padding:15px 0
}
.footer .copyright{
    color:#b3b3b3;
    margin-right:15px
}
.footer .links{
    margin-bottom:0;
    font-size:0.85rem
}
.footer .links a{
    color:gray
}
.footer .links a:hover{
    color:#1a1a1a
}
@-webkit-keyframes anim-glow{
    0%{
        box-shadow:0 0 rgba(255,255,255,0.7)
    }
    100%{
        box-shadow:0 0 6px 4px transparent;
        border-width:3px
    }
}
@keyframes anim-glow{
    0%{
        box-shadow:0 0 rgba(255,255,255,0.7)
    }
    100%{
        box-shadow:0 0 6px 4px transparent;
        border-width:3px
    }
}
.glowing-icon{
    border-radius:50%;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    display:inline-block;
    border:3px solid rgba(255,255,255,0.6);
    width:14px;
    height:14px;
    text-align:center;
    position:relative;
    top:0;
    background:rgba(0,0,0,0.2);
    -webkit-animation:anim-glow 2s ease infinite;
    animation:anim-glow 2s ease infinite
}
.promo{
    background-color:#1a1a1a;
    color:#fff;
    padding-top:67px
}
.promo .container{
    padding-top:45px;
    padding-bottom:45px
}
.promo .overview{
    margin-top:45px;
    padding-left:30px;
    padding-right:30px
}
.promo .overview h2{
    font-size:36px;
    margin-bottom:35px;
    font-weight:700;
    text-shadow:0 1px 1px rgba(0,0,0,0.2)
}
.promo .overview .summary{
    margin-bottom:60px
}
.promo .overview .summary li{
    margin-bottom:15px;
    list-style:none;
    font-size:20px
}
.promo .overview .download-area{
    display:inline-block
}
.promo .overview .download-area li{
    padding:0;
    margin-bottom:15px
}
.promo .overview .download-area li img{
    height:60px;
    width:auto
}
.promo .overview .note{
    position:relative;
    /*color:rgba(0,0,0,0.5)*/
    color: #FFF;
}
.promo .overview .note p{
    padding-top:15px
}
.promo .overview .note .left-arrow{
    position:absolute;
    left:0;
    bottom:15px;
    display:inline-block;
    background:url("../images/arrows/up-arrow-left.png") no-repeat left top;
    background-size:contain;
    width:63px;
    height:69px;
    -webkit-opacity:.6;
    -moz-opacity:.6;
    opacity:.6
}
.promo .overview .note .right-arrow{
    position:absolute;
    right:0;
    bottom:15px;
    display:inline-block;
    background:url("../images/arrows/up-arrow-right.png") no-repeat right top;
    background-size:contain;
    width:63px;
    height:58px;
    -webkit-opacity:.6;
    -moz-opacity:.6;
    opacity:.6
}
.promo .phone-holder{
    max-width:360px
}
.promo .phone-holder.tablet-holder{
    max-width:660px;
    margin-top:60px
}
.phone-carousel .carousel-indicators{
    position:static
}
.phone-carousel .carousel-indicators button{
    width:10px;
    height:10px;
    background:rgba(0,0,0,0.3);
    border-radius:50%;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border:none;
    margin-left:5px;
    margin-right:5px
}
.phone-carousel .carousel-indicators button.active{
    background:rgba(0,0,0,0.6)
}
.features{
    padding:80px 0
}
.features .icon{
    position:relative;
    width:90px;
    height:90px;
    border:3px solid #1a1a1a;
    border-radius:50%;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    display:table;
    margin:0 auto;
    transition:background 0.3s, -webkit-transform ease-out 0.2s;
    transition:transform ease-out 0.2s, background 0.3s;
    transition:transform ease-out 0.2s, background 0.3s, -webkit-transform ease-out 0.2s
}
.features .icon .icon-inner{
    display:table-cell;
    text-align:center;
    vertical-align:middle
}
.features .icon:hover{
    background:#1a1a1a;
    color:#fff
}
.features .icon:hover .bi{
    color:#fff
}
.features .icon .bi{
    color:#1a1a1a;
    width:40px;
    height:40px;
    margin-top:21px
}
.features .content{
    padding:30px
}
.features .content .title{
    font-size:18px;
    margin-top:0;
    font-weight:bold
}
.features .content p{
    font-weight:300
}
.features .feature-row-last{
    margin-top:30px
}
.features .btn-link{
    color:#1a1a1a;
    text-decoration:none
}
.features .btn-link:hover{
    color:#3fa07a;
    text-decoration:underline
}
.how{
    background-color:#f5f5f5;
    padding:80px 0
}
.how .content{
    padding:0 30px
}
.how .content .title{
    margin-top:0;
    margin-bottom:30px
}
.how .content .intro{
    margin-bottom:30px;
    font-size:16px;
    font-weight:300;
    color:#777
}
.how .content .note{
    position:relative;
    padding-bottom:42px;
    color:#999
}
.how .content .note .left-arrow{
    position:absolute;
    left:60px;
    top:20px;
    display:inline-block;
    background:url("../images/arrows/down-arrow-left.png") no-repeat left top;
    width:30px;
    height:42px
}
.how .content .note .right-arrow{
    position:absolute;
    right:60px;
    top:20px;
    display:inline-block;
    background:url("../images/arrows/down-arrow-right.png") no-repeat right top;
    width:30px;
    height:42px
}
.how .content .qr-codes .item img{
    margin-bottom:15px;
    max-width:150px
}
.how .content .qr-codes .item p{
    color:#777
}
.how .video-container{
    margin-top:50px
}
.faq{
    padding:80px 0
}
.faq .title{
    margin-bottom:60px
}
.faq .item{
    padding:30px;
    background:#f5f5f5;
    margin-bottom:30px;
    border-radius:4px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border-bottom:3px solid #c4e7d9
}
.faq .item .question{
    margin-top:0;
    font-size:18px;
    margin-bottom:15px
}
.faq .item .question .svg-inline--fa{
    margin-right:10px;
    color:#1a1a1a
}
.faq .item .answer{
    color:#777;
    font-weight:300
}
.faq .more{
    margin-top:30px
}
.faq .more .title{
    margin-bottom:15px;
    color:#999;
    font-size:18px
}
.faq .more .btn{
    font-size:18px;
    padding-left:30px
}
.faq .more .btn .svg-inline--fa{
    margin-left:5px
}
.story{
    background-color:#1a1a1a;
    color:#fff;
    padding:80px 0
}
.story .content .title{
    margin-bottom:30px;
    margin-top:0
}
.story .content p{
    font-size:16px;
    font-weight:300;
    margin-bottom:15px
}
.story .team{
    font-size:16px
}
.story .team .member .member-profile{
    margin-bottom:15px;
    max-width:150px
}
.story .team .member .name{
    color:#225742;
    margin-bottom:0px
}
.story .team .member .title{
    color:#c4e7d9;
    font-weight:300
}
.story .team .connect{
    color:#fff;
    font-size:20px
}
.story .team .connect a{
    color:#317b5e
}
.story .team .connect a:hover{
    color:#1b4434
}
.testimonials{
    padding:80px 0
}
.testimonials .title{
    margin-bottom:60px
}
.testimonials .item{
    margin-bottom:30px
}
.testimonials .item .item-inner{
    height:100%
}
.testimonials .item .quote-box{
    background:#f5f5f5;
    padding:30px;
    border-radius:4px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border-top:3px solid #c4e7d9;
    position:relative;
    margin-bottom:23px
}
.testimonials .item .quote-box .svg-inline--fa{
    color:#1a1a1a;
    font-size:18px;
    position:absolute;
    left:15px;
    top:15px
}
.testimonials .item .quote-box:after{
    content:"";
    display:block;
    width:0;
    height:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #f5f5f5;
    position:absolute;
    bottom:-10px;
    left:55px
}
.testimonials .item .quote{
    border:none;
    padding:0;
    padding-left:20px;
    font-size:16px;
    font-weight:300;
    margin-bottom:0
}
.testimonials .item .people{
    margin-left:20px
}
.testimonials .item .people .user-pic{
    max-width:60px;
    max-height:60px
}
.testimonials .item .people .user-pic,.testimonials .item .people .user-pic *,.testimonials .item .people .user-pic *:before,.testimonials .item .people .user-pic *:after{
    box-sizing:content-box
}
.testimonials .item .people .name{
    display:block
}
.testimonials .item .people .title{
    display:block;
    color:#999;
    margin-bottom:0
}
.testimonials .press .note{
    color:#1a1a1a;
    margin-bottom:30px
}
.testimonials .press a img{
    -webkit-opacity:.5;
    -moz-opacity:.5;
    opacity:.5;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out
}
.testimonials .press a:hover img{
    -webkit-opacity:.8;
    -moz-opacity:.8;
    opacity:.8
}
.pricing{
    background-color:#f5f5f5;
    padding:80px 0
}
.pricing .title{
    margin-bottom:60px;
    margin-top:0
}
.pricing .item{
    padding:30px 15px
}
.pricing .item.best-buy{
    top:-15px
}
.pricing .item.best-buy .heading{
    padding-top:45px
}
.pricing .item.best-buy .content{
    padding-bottom:45px
}
.pricing .item .item-inner{
    background:#fff;
    border-radius:4px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    position:relative
}
.pricing .item .heading{
    margin-top:0;
    padding:30px 15px;
    background:#c4e7d9;
    position:relative;
    -webkit-border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-top-left-radius:4px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box
}
.pricing .item .heading .title{
    margin-bottom:30px;
    color:#225742;
    padding-bottom:15px;
    font-size:18px
}
.pricing .item .content{
    padding:30px 15px;
    padding-top:80px
}
.pricing .item .price-figure{
    border-radius:50%;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    margin:0 auto;
    width:120px;
    height:120px;
    background:#1a1a1a;
    color:#fff;
    padding-top:25px;
    border:5px solid #9fd9c2;
    position:absolute;
    bottom:-50%;
    left:50%;
    margin-left:-60px
}
.pricing .item .price-figure .number{
    font-size:28px
}
.pricing .item .price-figure .unit{
    font-weight:300
}
.pricing .item .price-figure .currency{
    top:-5px;
    position:relative
}
.pricing .item .ribbon{
    position:absolute;
    top:-4px;
    right:-4px;
    width:110px;
    height:110px;
    overflow:hidden
}
.pricing .item .ribbon .text{
    font-family:'Lato', arial, sans-serif;
    position:relative;
    left:-8px;
    top:18px;
    width:158px;
    padding:10px 10px;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    color:#fff;
    background-color:#3fa07a;
    -webkit-transform:rotate(45deg) translate3d(0, 0, 0);
    -moz-transform:rotate(45deg) translate3d(0, 0, 0);
    -ms-transform:rotate(45deg) translate3d(0, 0, 0);
    -o-transform:rotate(45deg) translate3d(0, 0, 0)
}
.pricing .item .ribbon .text:before,.pricing .item .ribbon .text:after{
    content:'';
    position:absolute;
    bottom:-5px;
    border-top:5px solid #225742;
    border-left:5px solid transparent;
    border-right:5px solid transparent
}
.pricing .item .ribbon .text:before{
    left:0
}
.pricing .item .ribbon .text:after{
    right:0
}
.pricing .item .feature-list{
    margin-bottom:30px
}
.pricing .item .feature-list li{
    border-bottom:1px solid #efefef;
    padding:10px
}
.pricing .item .feature-list li .svg-inline--fa{
    margin-right:5px;
    color:#1a1a1a
}
.pricing .item .feature-list li.disabled{
    color:#999
}
.pricing .item .feature-list li.disabled .svg-inline--fa{
    color:#999
}
.contact{
    background-color:#1a1a1a;
    color:#fff;
    padding:80px 0
}
.contact .title{
    margin-bottom:30px;
    margin-top:0
}
.contact .intro p{
    font-size:16px;
    font-weight:300
}
.contact .intro ul{
    margin-bottom:30px;
    margin-top:30px
}
.contact .intro li{
    margin-bottom:10px;
    color:#317b5e;
    font-size:16px
}
.contact .intro li .svg-inline--fa{
    margin-right:10px
}
.contact .intro li a{
    color:#317b5e
}
.contact .intro li a:hover{
    color:#225742
}
.contact .contact-form{
    max-width:600px
}
.contact .contact-form .form-control{
    border-color:#fff;
    height:auto;
    padding:10px 15px
}
.contact .contact-form .btn-theme{
    background-color:#317b5e;
    margin-top:15px
}
.contact .social-icons{
    display:inline-block;
    margin:0 auto;
    margin-top:60px
}
.section-404{
    background-color:#1a1a1a;
    padding-top:80px;
    padding-bottom:200px;
    color:#fff
}
.section-404 .title-404{
    font-size:120px;
    color:#fff;
    text-shadow:0 1px 1px rgba(0,0,0,0.3)
}
.section-404 .intro{
    font-size:20px;
    color:#fff
}
.section-404 .guide{
    font-size:16px
}
.section-404 .btn-theme{
    background-color:#317b5e;
    margin-top:30px
}
.modal{
    z-index:10050
}
.modal .modal-header{
    border-bottom:none;
    padding-bottom:30px;
    justify-content:center !important
}
.modal .modal-title{
    color:#1a1a1a;
    font-size:1.3rem
}
.modal .modal-body{
    padding:30px;
    padding-top:0
}
.modal .modal-footer{
    border-top-color:#efefef
}
.modal .figure{
    text-align:center;
    margin-bottom:30px
}
.modal .figure img{
    margin:0 auto
}
.modal .figure .caption{
    color:#999;
    font-style:italic;
    padding:10px
}
.modal .content ul{
    margin-left:30px
}
.modal .content ul .svg-inline--fa{
    margin-right:5px;
    color:#1a1a1a
}
.modal .quote{
    margin:15px 0;
    border-left:4px solid #9fd9c2;
    padding-left:15px
}
.modal .quote p{
    font-size:0.9rem;
    color:#777;
    line-height:1.5;
    font-style:italic
}
.modal .quote .svg-inline--fa{
    color:#1a1a1a;
    margin-right:10px
}
.modal .quote .people{
    margin-top:10px;
    font-size:13px;
    color:#444;
    font-style:normal
}
.modal .quote .people .name{
    color:#1a1a1a
}
.modal .close{
    position:absolute;
    right:10px;
    top:0;
    z-index:10;
    border:none;
    background:none;
    font-size:2rem;
    -webkit-opacity:.4;
    -moz-opacity:.4;
    opacity:.4
}
.modal .close:hover{
    -webkit-opacity:.6;
    -moz-opacity:.6;
    opacity:.6
}
.modal .close:focus{
    outline:none
}
@media (max-width: 767px){
    .header .main-nav{
        padding:0
    }
    .header .main-nav .nav .nav-item a{
        display:block
    }
    .promo .overview .download-area li{
        margin-right:0
    }
    .promo .overview .summary li{
        font-size:18px
    }
    .promo .overview .note .left-arrow{
        left:0
    }
    .promo .overview .note .right-arrow{
        right:0
    }
    .promo .overview .summary{
        margin-bottom:30px
    }
    .promo .overview{
        text-align:center;
        margin-top:0;
        padding-left:15px;
        padding-right:15px
    }
    .promo .overview h2{
        font-size:28px
    }
    .promo .overview .summary{
        margin-left:0
    }
    .promo .overview .summary li{
        text-align:left;
        font-size:16px
    }
    .promo .overview .download-area{
        margin:0 auto
    }
    .promo .overview .note .left-arrow{
        background-size:30px auto
    }
    .promo .overview .note .right-arrow{
        background-size:30px auto
    }
    .promo .overview .btn-group li{
        display:block
    }
}
@media (min-width: 768px){
    .promo .overview{
        text-align:center
    }
    .promo .overview .summary li{
        text-align:left
    }
    .promo .overview .download-area{
        margin:0 auto
    }
    .header .nav-item a{
        padding:15px 10px
    }
}
@media (min-width: 992px){
    .promo .overview{
        text-align:left
    }
    .promo .overview .summary{
        margin-left:0
    }
    .promo .overview .summary li{
        text-align:left
    }
    .header .nav-item a{
        padding:15px 20px
    }
    .modal-lg{
        width:780px
    }
}
.config-trigger{
    display:block;
    position:absolute;
    left:-36px;
    width:36px;
    height:36px;
    background:#444;
    color:#fff;
    text-align:center;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-radius-topright:0;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-topleft:4px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:4px;
    border-top-left-radius:4px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box
}
.config-trigger:hover{
    background:#000
}
.config-trigger .svg-inline--fa{
    font-size:22px;
    margin-top:7px;
    display:block;
    color:#fff
}
.panel-inner{
    position:relative;
    padding:15px;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:4px;
    -webkit-border-top-left-radius:0;
    -moz-border-radius-topright:0;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-topleft:0;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:4px;
    border-top-left-radius:0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box
}
.config-panel{
    width:190px;
    position:fixed;
    top:100px;
    right:0;
    z-index:2000;
    background:#444;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:4px;
    -webkit-border-top-left-radius:0;
    -moz-border-radius-topright:0;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-topleft:0;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:4px;
    border-top-left-radius:0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out
}
.config-panel.config-panel-open{
    right:0
}
.config-panel.config-panel-hide{
    right:-190px
}
.config-panel h5{
    font-size:1rem;
    color:#fff;
    margin-bottom:0.5rem
}
.config-panel h5.device-title{
    margin-bottom:5px;
    color:#fff
}
.config-panel #color-options{
    margin-bottom:15px
}
.config-panel .device-options{
    margin-bottom:0
}
.config-panel .device-options a{
    color:#1a1a1a;
    font-size:0.8rem
}
.config-panel .device-options a:hover{
    color:#7bcaab
}
.config-panel .device-options li.active a{
    color:#8dd2b7
}
.config-panel #color-options li a{
    display:block;
    width:20px;
    height:20px;
    border:2px solid transparent
}
.config-panel #color-options li a:hover{
    -webkit-opacity:.9;
    -moz-opacity:.9;
    opacity:.9;
    border:2px solid rgba(255,255,255,0.8)
}
.config-panel #color-options li.active a{
    border:2px solid #fff
}
.config-panel #color-options li.theme-1 a{
    background:#1a1a1a
}
.config-panel #color-options li.theme-2 a{
    background-color:#28A5A8
}
.config-panel #color-options li.theme-3 a{
    background-color:#7CB75E
}
.config-panel #color-options li.theme-4 a{
    background-color:#286da8
}
.config-panel #color-options li.theme-5 a{
    background-color:#37ba67
}
.config-panel #color-options li.theme-6 a{
    background-color:#f8a842
}
.config-panel #color-options li.theme-7 a{
    background-color:#737F97
}
.config-panel #color-options li.theme-8 a{
    background-color:#DE5A6A
}
.config-panel #color-options li.theme-9 a{
    background-color:#a83f73
}
.config-panel #color-options li.theme-10 a{
    background-color:#7A3FA8
}
.config-panel .close{
    position:absolute;
    right:5px;
    top:5px;
    color:#fff;
    font-size:18px
}
.config-panel .close .svg-inline--fa{
    color:#fff
}
 